# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

recorder:
  db_url: mysql+pymysql://root:password@mariadb/homeassistant?charset=utf8mb4
  purge_keep_days: 30
  commit_interval: 1